@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Abril+Fatface|Montserrat:400,700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

a {
  color: black;
  text-decoration: none; }
  a:visited {
    color: black; }

.col.s1 {
  width: 8.33333%;
  float: left;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  box-sizing: border-box; }

.col.s2 {
  width: 16.66667%;
  float: left;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  box-sizing: border-box; }

.col.s3 {
  width: 25%;
  float: left;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  box-sizing: border-box; }

.col.s4 {
  width: 33.33333%;
  float: left;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  box-sizing: border-box; }

.col.s5 {
  width: 41.66667%;
  float: left;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  box-sizing: border-box; }

.col.s6 {
  width: 50%;
  float: left;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  box-sizing: border-box; }

.col.s7 {
  width: 58.33333%;
  float: left;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  box-sizing: border-box; }

.col.s8 {
  width: 66.66667%;
  float: left;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  box-sizing: border-box; }

.col.s9 {
  width: 75%;
  float: left;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  box-sizing: border-box; }

.col.s10 {
  width: 83.33333%;
  float: left;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  box-sizing: border-box; }

.col.s11 {
  width: 91.66667%;
  float: left;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  box-sizing: border-box; }

.col.s12 {
  width: 100%;
  float: left;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  box-sizing: border-box; }

.col.offset-s1 {
  margin-left: 8.33333% !important; }

.col.offset-s2 {
  margin-left: 16.66667% !important; }

.col.offset-s3 {
  margin-left: 25% !important; }

.col.offset-s4 {
  margin-left: 33.33333% !important; }

.col.offset-s5 {
  margin-left: 41.66667% !important; }

.col.offset-s6 {
  margin-left: 50% !important; }

.col.offset-s7 {
  margin-left: 58.33333% !important; }

.col.offset-s8 {
  margin-left: 66.66667% !important; }

.col.offset-s9 {
  margin-left: 75% !important; }

.col.offset-s10 {
  margin-left: 83.33333% !important; }

.col.offset-s11 {
  margin-left: 91.66667% !important; }

.col.offset-s12 {
  margin-left: 100% !important; }

@media (min-width: 600) {
  .col.m1 {
    width: 8.33333%;
    float: left;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    box-sizing: border-box; }
  .col.m2 {
    width: 16.66667%;
    float: left;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    box-sizing: border-box; }
  .col.m3 {
    width: 25%;
    float: left;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    box-sizing: border-box; }
  .col.m4 {
    width: 33.33333%;
    float: left;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    box-sizing: border-box; }
  .col.m5 {
    width: 41.66667%;
    float: left;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    box-sizing: border-box; }
  .col.m6 {
    width: 50%;
    float: left;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    box-sizing: border-box; }
  .col.m7 {
    width: 58.33333%;
    float: left;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    box-sizing: border-box; }
  .col.m8 {
    width: 66.66667%;
    float: left;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    box-sizing: border-box; }
  .col.m9 {
    width: 75%;
    float: left;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    box-sizing: border-box; }
  .col.m10 {
    width: 83.33333%;
    float: left;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    box-sizing: border-box; }
  .col.m11 {
    width: 91.66667%;
    float: left;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    box-sizing: border-box; }
  .col.m12 {
    width: 100%;
    float: left;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    box-sizing: border-box; }
  .col.offset-m1 {
    margin-left: 8.33333% !important; }
  .col.offset-m2 {
    margin-left: 16.66667% !important; }
  .col.offset-m3 {
    margin-left: 25% !important; }
  .col.offset-m4 {
    margin-left: 33.33333% !important; }
  .col.offset-m5 {
    margin-left: 41.66667% !important; }
  .col.offset-m6 {
    margin-left: 50% !important; }
  .col.offset-m7 {
    margin-left: 58.33333% !important; }
  .col.offset-m8 {
    margin-left: 66.66667% !important; }
  .col.offset-m9 {
    margin-left: 75% !important; }
  .col.offset-m10 {
    margin-left: 83.33333% !important; }
  .col.offset-m11 {
    margin-left: 91.66667% !important; }
  .col.offset-m12 {
    margin-left: 100% !important; } }

@media (min-width: 900) {
  .col.l1 {
    width: 8.33333%;
    float: left;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    box-sizing: border-box; }
  .col.l2 {
    width: 16.66667%;
    float: left;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    box-sizing: border-box; }
  .col.l3 {
    width: 25%;
    float: left;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    box-sizing: border-box; }
  .col.l4 {
    width: 33.33333%;
    float: left;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    box-sizing: border-box; }
  .col.l5 {
    width: 41.66667%;
    float: left;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    box-sizing: border-box; }
  .col.l6 {
    width: 50%;
    float: left;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    box-sizing: border-box; }
  .col.l7 {
    width: 58.33333%;
    float: left;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    box-sizing: border-box; }
  .col.l8 {
    width: 66.66667%;
    float: left;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    box-sizing: border-box; }
  .col.l9 {
    width: 75%;
    float: left;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    box-sizing: border-box; }
  .col.l10 {
    width: 83.33333%;
    float: left;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    box-sizing: border-box; }
  .col.l11 {
    width: 91.66667%;
    float: left;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    box-sizing: border-box; }
  .col.l12 {
    width: 100%;
    float: left;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    box-sizing: border-box; }
  .col.offset-l1 {
    margin-left: 8.33333% !important; }
  .col.offset-l2 {
    margin-left: 16.66667% !important; }
  .col.offset-l3 {
    margin-left: 25% !important; }
  .col.offset-l4 {
    margin-left: 33.33333% !important; }
  .col.offset-l5 {
    margin-left: 41.66667% !important; }
  .col.offset-l6 {
    margin-left: 50% !important; }
  .col.offset-l7 {
    margin-left: 58.33333% !important; }
  .col.offset-l8 {
    margin-left: 66.66667% !important; }
  .col.offset-l9 {
    margin-left: 75% !important; }
  .col.offset-l10 {
    margin-left: 83.33333% !important; }
  .col.offset-l11 {
    margin-left: 91.66667% !important; }
  .col.offset-l12 {
    margin-left: 100% !important; } }

@media (min-width: 1200) {
  .col.xl1 {
    width: 8.33333%;
    float: left;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    box-sizing: border-box; }
  .col.xl2 {
    width: 16.66667%;
    float: left;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    box-sizing: border-box; }
  .col.xl3 {
    width: 25%;
    float: left;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    box-sizing: border-box; }
  .col.xl4 {
    width: 33.33333%;
    float: left;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    box-sizing: border-box; }
  .col.xl5 {
    width: 41.66667%;
    float: left;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    box-sizing: border-box; }
  .col.xl6 {
    width: 50%;
    float: left;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    box-sizing: border-box; }
  .col.xl7 {
    width: 58.33333%;
    float: left;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    box-sizing: border-box; }
  .col.xl8 {
    width: 66.66667%;
    float: left;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    box-sizing: border-box; }
  .col.xl9 {
    width: 75%;
    float: left;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    box-sizing: border-box; }
  .col.xl10 {
    width: 83.33333%;
    float: left;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    box-sizing: border-box; }
  .col.xl11 {
    width: 91.66667%;
    float: left;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    box-sizing: border-box; }
  .col.xl12 {
    width: 100%;
    float: left;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    box-sizing: border-box; }
  .col.offset-xl1 {
    margin-left: 8.33333% !important; }
  .col.offset-xl2 {
    margin-left: 16.66667% !important; }
  .col.offset-xl3 {
    margin-left: 25% !important; }
  .col.offset-xl4 {
    margin-left: 33.33333% !important; }
  .col.offset-xl5 {
    margin-left: 41.66667% !important; }
  .col.offset-xl6 {
    margin-left: 50% !important; }
  .col.offset-xl7 {
    margin-left: 58.33333% !important; }
  .col.offset-xl8 {
    margin-left: 66.66667% !important; }
  .col.offset-xl9 {
    margin-left: 75% !important; }
  .col.offset-xl10 {
    margin-left: 83.33333% !important; }
  .col.offset-xl11 {
    margin-left: 91.66667% !important; }
  .col.offset-xl12 {
    margin-left: 100% !important; } }

.container {
  width: 95%;
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto; }

.container2 {
  width: 75%;
  max-width: 1080px;
  margin-left: auto;
  margin-right: auto; }

.container3 {
  width: 87.5%;
  margin-right: 0;
  margin-left: auto; }

.row {
  display: block;
  overflow: hidden;
  width: 100%;
  margin-bottom: 20px; }
  .row::after {
    content: "";
    clear: both; }

header nav {
  height: 70px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 4;
  background-color: white;
  box-shadow: 0px 0 0 rgba(0, 0, 0, 0);
  transition: box-shadow .4s ease; }
  header nav.active {
    box-shadow: 0px 4px 34px rgba(0, 0, 0, 0.15); }
  header nav .logo img {
    max-width: 100%;
    max-height: 65%; }
  header nav > div {
    height: 100%;
    display: flex;
    align-items: center; }
    header nav > div ul {
      height: 100%;
      display: flex !important;
      align-items: center;
      justify-content: space-between; }
      header nav > div ul li a {
        position: relative; }
        header nav > div ul li a.active::after {
          content: "";
          position: absolute;
          left: 0;
          bottom: -6px;
          height: 3px;
          width: 100%;
          background-color: #FBC450;
          border-radius: 1px; }
    header nav > div.btn_connexion {
      float: right;
      margin-right: 40px; }
      header nav > div.btn_connexion a {
        background-color: #FBC450;
        color: #fff;
        padding: 8px 12px;
        border-radius: 4px; }

header {
  height: 85vh;
  background: url("../../../img/backgrounds/hexa.png");
  background-size: cover;
  background-position: 50% 65px;
  background-repeat: no-repeat;
  position: relative; }
  header::before {
    content: "";
    position: absolute;
    left: 0;
    top: 65px;
    right: 0;
    bottom: 0;
    background: linear-gradient(158.28deg, #FFFFFF 19.44%, rgba(255, 255, 255, 0.27) 84.68%); }
  header::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: url("../../../img/backgrounds/plume.png");
    background-position: center top;
    background-size: 100%;
    background-repeat: no-repeat; }
  header .header {
    position: relative;
    z-index: 2; }
    header .header .title {
      margin-top: 25vh; }
      header .header .title h1 {
        font-family: 'Abril Fatface';
        font-size: 42px;
        margin-bottom: 20px; }
      header .header .title p span {
        font-family: 'Abril Fatface';
        font-size: 24px;
        margin-bottom: 20px;
        display: block; }

a, p {
  font-family: Montserrat; }

h3 {
  font-family: Abril Fatface;
  font-size: 22px; }

h2 {
  font-family: Abril Fatface;
  font-size: 42px; }

p {
  font-size: 15px; }

section.valeurs {
  margin-top: -150px;
  position: relative;
  z-index: 3;
  padding: 50px 20px;
  box-sizing: border-box; }
  section.valeurs .card {
    height: 300px;
    cursor: pointer; }
    section.valeurs .card h3 {
      margin-bottom: 0; }

section.competences {
  position: relative;
  z-index: 3;
  padding: 100px 20px 0 20px;
  box-sizing: border-box; }
  section.competences h2 {
    margin-left: 20px;
    margin-bottom: 40px; }
  section.competences .card {
    height: 300px;
    margin-bottom: 40px;
    cursor: pointer;
    position: relative; }
    section.competences .card h3 {
      margin-bottom: 0; }
    section.competences .card p span {
      font-size: 12px;
      color: #C4C4C4;
      text-align: center;
      display: block;
      margin-top: 10px; }
    section.competences .card ul {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 20px; }
      section.competences .card ul li {
        float: left;
        height: 5px;
        width: 5px;
        border-radius: 50%;
        background-color: #C4C4C4;
        margin-right: 4px; }

section.offer .card {
  margin-top: 75px;
  margin-bottom: 30px; }
  section.offer .card img {
    max-width: 100%; }
  section.offer .card h3 {
    font-family: Montserrat;
    font-weight: 700;
    margin-bottom: 20px;
    margin-top: 25px; }
  section.offer .card p {
    box-sizing: border-box;
    padding: 0 30px;
    text-align: center;
    line-height: 1.5;
    margin-bottom: 30px; }
  section.offer .card.main {
    margin-top: 35px; }
    section.offer .card.main h3 {
      color: #FBC450; }

section .card {
  background-color: #fff;
  border-radius: 30px;
  box-shadow: 0px 4px 34px rgba(0, 0, 0, 0.15);
  margin: 0 20px; }
  section .card.s4 {
    width: calc(((100% / 12) * 4) - 40px) !important; }
  section .card.s3 {
    width: calc(((100% / 12) * 3) - 40px) !important; }
  section .card.s6 {
    width: calc(((100% / 12) * 6) - 40px) !important; }
  section .card .circle {
    height: 122px;
    width: 122px;
    border-radius: 50%;
    background-color: #FBC450;
    margin: 37px auto;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center; }
    section .card .circle img {
      max-width: 100%;
      display: block; }
  section .card h3 {
    text-align: center;
    margin-bottom: 74px; }

.textContainer {
  height: 230px; }
  .textContainer .valeurSection {
    display: none; }
    .textContainer .valeurSection h2 {
      margin-top: 40px;
      margin-bottom: 40px; }
    .textContainer .valeurSection.active {
      display: block; }

.button_recrutement {
  margin-top: 76px;
  margin-bottom: 40px;
  cursor: pointer; }
  .button_recrutement p {
    background-color: #FBC450;
    color: #fff;
    padding: 12px 0;
    border-radius: 4px;
    text-align: center; }

.swiper-container-client .swiper-wrapper .swiper-slide img {
  max-width: 100%;
  max-height: 100%; }

.swiper-agents .swiper-wrapper {
  margin-top: 40px; }
  .swiper-agents .swiper-wrapper .swiper-slide img {
    display: block;
    max-width: 100%; }

.events {
  padding-top: 50px; }
  .events h2 {
    margin-top: 60px; }
  .events .swiper-events .swiper-wrapper {
    margin-top: 40px; }
    .events .swiper-events .swiper-wrapper .swiper-slide img {
      display: block;
      max-width: 100%; }
    .events .swiper-events .swiper-wrapper .swiper-slide p {
      font-family: Abril Fatface;
      font-size: 24px;
      line-height: 32px;
      margin-left: 30px; }

.avis {
  background: url(../../../img/backgrounds/hexa.png);
  background-size: cover;
  background-position: 50% 30px;
  background-repeat: no-repeat;
  position: relative;
  padding-bottom: 150px; }
  .avis::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(158.28deg, #FFFFFF 19.44%, rgba(255, 255, 255, 0.27) 84.68%); }
  .avis::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    background: url("../../../img/backgrounds/plume3.png");
    background-position: center top;
    background-size: 100%;
    background-repeat: no-repeat; }
  .avis h2 {
    position: relative;
    z-index: 1; }
  .avis .swiper-avis-container {
    height: 330px;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.15);
    border-radius: 30px;
    background-color: #fff;
    margin: 40px 0;
    overflow: hidden;
    position: relative;
    z-index: 1; }
    .avis .swiper-avis-container .swiper-wrapper .swiper-slide {
      display: flex;
      align-items: center; }
      .avis .swiper-avis-container .swiper-wrapper .swiper-slide .col.s4 {
        display: flex;
        justify-content: center; }
        .avis .swiper-avis-container .swiper-wrapper .swiper-slide .col.s4 .circle {
          width: 180px;
          height: 180px;
          border-radius: 50%;
          overflow: hidden; }
          .avis .swiper-avis-container .swiper-wrapper .swiper-slide .col.s4 .circle img {
            max-width: 100%; }
      .avis .swiper-avis-container .swiper-wrapper .swiper-slide .col.s8 p {
        font-size: 24px; }
        .avis .swiper-avis-container .swiper-wrapper .swiper-slide .col.s8 p span {
          font-weight: 700; }
        .avis .swiper-avis-container .swiper-wrapper .swiper-slide .col.s8 p.comment {
          font-size: 15px; }
        .avis .swiper-avis-container .swiper-wrapper .swiper-slide .col.s8 p.note {
          display: inline-block;
          color: #FBC450; }
      .avis .swiper-avis-container .swiper-wrapper .swiper-slide .col.s8 i {
        height: 24px;
        display: inline-block; }
        .avis .swiper-avis-container .swiper-wrapper .swiper-slide .col.s8 i img {
          max-height: 100%; }

.process_candidature {
  padding-top: 100px; }
  .process_candidature section article {
    margin-left: 100px;
    position: relative; }
    .process_candidature section article:first-child {
      margin-top: 40px; }
    .process_candidature section article h3 {
      margin-bottom: 25px;
      font-family: Montserrat;
      font-weight: 700;
      font-size: 19px; }
    .process_candidature section article p {
      margin-bottom: 60px; }
    .process_candidature section article.active::after {
      background: #FBC450;
      color: white; }
    .process_candidature section article::after {
      box-sizing: border-box;
      border: 4px solid #FBC450;
      height: 70px;
      width: 70px;
      border-radius: 50%;
      background-color: white;
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      left: -100px;
      top: -30px;
      color: #FBC450;
      font-family: 'icomoon' !important;
      speak: none;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      line-height: 1;
      font-size: 25px;
      /* Better Font Rendering =========== */
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale; }
    .process_candidature section article:nth-child(1)::after {
      content: "\e900"; }
    .process_candidature section article:nth-child(2)::after {
      content: "\e901"; }
    .process_candidature section article:nth-child(3)::after {
      content: "\e902"; }
    .process_candidature section article:nth-child(4)::after {
      content: "\e903"; }
    .process_candidature section article:not(:last-child)::before {
      content: "";
      display: block;
      width: 7px;
      top: 30px;
      left: -68px;
      height: 112px;
      position: absolute;
      background-color: #FBC450; }
  .process_candidature > div img  {
    max-width: 100%; }

.avantages {
  background: url(../../../img/backgrounds/plume2.png);
  background-size: contain;
  background-repeat: no-repeat; }

@font-face {
  font-family: 'icomoon';
  src: url("../../../fonts/icomoon.eot") format("embedded-opentype"), url("../../../fonts/icomoon.ttf") format("truetype"), url("../../../fonts/icomoon.woff") format("woff"), url("../../../fonts/icomoon.svg") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block; }

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-1:before {
  content: "\e900"; }

.icon-2:before {
  content: "\e901"; }

.icon-3:before {
  content: "\e902"; }

.icon-4:before {
  content: "\e903"; }

footer {
  height: 130px;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.15);
  background-color: #fff;
  display: flex;
  align-items: center;
  position: relative; }
  footer ul {
    display: flex;
    align-items: center; }
    footer ul li {
      float: left;
      margin-left: 40px; }
      footer ul li .divider {
        width: 1px;
        height: 26px;
        background-color: #000; }
      footer ul li.icon {
        width: 18px;
        height: 18px; }
        footer ul li.icon img {
          max-width: 100%; }
  footer .logo {
    width: 120px;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%); }
    footer .logo img {
      display: block;
      max-width: 100%; }

.nm {
  margin: 0 !important; }

.np {
  padding: 0 !important; }
