.button_recrutement {
    margin-top: 76px;
    margin-bottom: 40px;
    cursor: pointer;

    p {
        background-color: $yellow;
        color: #fff;
        padding: 12px 0;
        border-radius: 4px;
        text-align: center;
    }
}