@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Montserrat:400,700&display=swap');

a, p {
    font-family: Montserrat;
}

h3 {
    font-family: Abril Fatface;
    font-size: 22px;
}

h2 {
    font-family: Abril Fatface;
    font-size: 42px;
}

p {
    font-size: 15px;
}