.swiper-agents {
    .swiper-wrapper {
        margin-top: 40px;

        .swiper-slide {
            img {
                display: block;
                max-width: 100%;
            }
        }
    }
}